<%= turbo_frame_tag "edit_goal_frame" do %>
  <%= form_with(model: current_user) do |form| %>
    <% if current_user.errors.any? %>
      <div>
        <ul>
          <% current_user.errors.each do |error| %>
            <li class="notification is-danger is-light"><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field has-addons">
      <%= form.label :calorie_goal, class: "subtitle has-text-weight-bold mb-0" %>
      <div class="control">
        <%= form.number_field :calorie_goal, class: "input" %>
      </div>
      <div class="control">
        <%= form.submit "Edit", class: "button is-link" %>
      </div>
    </div>
  <% end %>
<% end %>