<h1>Chart</h1>

<%= line_chart [
  { name: 'Consumed', data: @calories_consumed },
  { name: 'Burned', data: @calories_burned }
], colors: ["green", "red"], title: "Calories Consumed and Burned (Last 30 days)" %>

<% if user_signed_in? %>
  <%= form_with(url: share_chart_path, method: :post) do |form| %>
    <%= form.label :email, "Share chart with" %>
    <%= form.email_field :email %>

    <%= form.submit "Send" %>
  <% end %>
<% end %>
