<h1 class="subtitle is-1">Profile</h1>

<p class="subtitle"><strong>Email:</strong> <%= current_user.email %></p>

<p class="subtitle"><strong>Total activities:</strong> <%= current_user.activity_counter %></p>

<%= turbo_frame_tag "edit_goal_frame" do %>
  <div class="is-flex">
    <p class="subtitle"><strong>Calorie goal:</strong> <%= current_user.calorie_goal %></p>

    <%= link_to edit_user_path(current_user) do %>
      <i class="fa-solid fa-pen-to-square ml-2 edit-button"></i>
    <% end %>
  </div>
<% end %>


<%= form_with(url: reset_token_path, method: :post, class: "mt-5") do |form| %>
  <%= form.label "Reset token to stop sharing your calorie chart", class: "label" %>
  <%= form.submit "Reset Token", class: "button is-warning" %>
<% end %>