<tr>
  <td>
    <%= activity.date.strftime("%d/%m/%Y") %>
  </td>

  <td>
    <%= activity.calories %>
  </td>

  <td>
    <% if activity.burned %>
      <i class="fa-sharp fa-solid fa-caret-up fa-2xl" style="color: #00c800;"></i>
    <% else %>
      <i class="fa-sharp fa-solid fa-caret-down fa-2xl" style="color: #ff0000;"></i>
    <% end %>
  </td>

  <td>
    <%= activity.description %>
  </td>

  <td>
    <%= link_to "Edit", edit_activity_path(activity), class: "button is-warning is-small" %>
  </td>
  <td>
    <%= button_to "Delete", activity, method: :delete, data: {turbo_confirm: "Are you sure?"}, class: "button is-danger is-small" %>
  </td>
</tr>