<div>

  <p>
    <strong>ID:</strong>
    <%= activity.id %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= activity.date.strftime("%d/%m/%Y") %>
  </p>

  <p>
    <strong>Calories:</strong>
    <%= activity.calories %>
  </p>

  <p>
    <strong>Burned:</strong>
    <%= activity.burned %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= activity.description %>
  </p>

  <div>
    <%= link_to "Edit this activity", edit_activity_path(activity) %>
    <%= button_to "Destroy this activity", activity, method: :delete, data: {turbo_confirm: "Are you sure?"} %>
  </div>
</div>