<!DOCTYPE html>
<html>
  <head>
    <title>calorify</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="is-flex is-flex-direction-column">
    <%= render 'layouts/header' %>
    <div class="container mid-container">
      <% flash.each do |message_type, message| %>
        <% if message_type == 'notice' %>
          <div class="notification is-primary is-light"><%= message %></div>
        <% else %>
          <div class="notification is-danger is-light"><%= message %></div>
        <% end %>
      <% end %>
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
